# Gemini API kalitlari (ai.google.dev saytidan olinadi)
# Bir nechta kalit qo'shish mumkin: GEMINI_API_KEY_1, GEMINI_API_KEY_2 va h.k.
GEMINI_API_KEY_1=AIzaSyC-tzrotEKKQ6cdUsWvbyAobbua1ZmOshI
GEMINI_API_KEY_2=AIzaSy...  
